body {
    background-color: black;
    padding: 0;
    margin: 0;
}
div {
    color: white;
    margin: auto;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
flex-direction: column;
font-size: 30px;
}
